USE [master]
GO
/****** Object:  Database [BCdatabase]    Script Date: 2022/11/16 10:34:32 ******/
CREATE DATABASE [BCdatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BCdatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BCdatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BCdatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BCdatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BCdatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BCdatabase]
GO
/****** Object:  Table [dbo].[tblModule]    Script Date: 2022/11/16 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblModule](
	[ModuleCode] [varchar](50) NOT NULL,
	[ModuleName] [varchar](50) NOT NULL,
	[ModuleDescription] [varchar](50) NOT NULL,
	[Resources] [varchar](max) NOT NULL,
 CONSTRAINT [PK_tblModule] PRIMARY KEY CLUSTERED 
(
	[ModuleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudent_Module]    Script Date: 2022/11/16 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudent_Module](
	[StudentNumber] [varchar](50) NOT NULL,
	[ModuleCode] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudents]    Script Date: 2022/11/16 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudents](
	[StudentNumber] [varchar](50) NOT NULL,
	[StudentName] [varchar](50) NOT NULL,
	[StudentSurname] [varchar](50) NOT NULL,
	[StudentImage] [image] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblStudents] PRIMARY KEY CLUSTERED 
(
	[StudentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblStudent_Module]  WITH NOCHECK ADD  CONSTRAINT [FK_Module Relationship_Module_tblStudent_Module] FOREIGN KEY([ModuleCode])
REFERENCES [dbo].[tblModule] ([ModuleCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblStudent_Module] NOCHECK CONSTRAINT [FK_Module Relationship_Module_tblStudent_Module]
GO
ALTER TABLE [dbo].[tblStudent_Module]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_Module_tblStudents] FOREIGN KEY([StudentNumber])
REFERENCES [dbo].[tblStudents] ([StudentNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblStudent_Module] CHECK CONSTRAINT [FK_tblStudent_Module_tblStudents]
GO
USE [master]
GO
